[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mysqldb = "*"
mysql-connector-python = "*"
flask-wtf = "*"
passlib = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
