{% extends 'layout.html' %}

{%block body%}
<div class="block1">
<h1>Delivery Updates</h1>
<p>You can now view the expected birth's for today and tomorrow</p>
</div>


<div class="block2">
{%for mother in mothers%}
  <div class="card">
  <p><a href="mother/{{mother.id}}">Id: {{mother.id}}</a></p>
  <p>Name: {{mother.motherName}}</p>
  <p>Date of Pregnancy: {{mother.pregDate}}</p>
  <p>Gestation days: {{mother.dys}}</p>
  <p>Weight: {{mother.weight}}</p>
  <p>Mother BMI: {{mother.bmi}}</p>
  <p>Blood pressure: {{mother.bpr}}</p>
  </div>
  {%endfor%}
</div>

{%endblock%}